<!DOCTYPE html>
<html ng-app="ionicApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Sign-in</title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->



		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>
		
		<!-- your app's js -->
		<script src="js/app.js"></script>
	</head>
	<body >

		<!--PUSH NOTIFICATIONS-->
		<script type="text/javascript" charset="utf-8" src="jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="PushNotification.js"></script>
				
		<script type="text/javascript">
			
			var pushNotification;

			/*var global_regId;*/
		
			function onDeviceReady() {

			$("#app-status-ul").append('<li>deviceready event received</li>');
				
				document.addEventListener("backbutton", function(e){
					$("#app-status-ul").append('<li>backbutton event received</li>');
					if( $("#home").length > 0){
						// call this to get a new token each time. don't call it to reuse existing token.
						//pushNotification.unregister(successHandler, errorHandler);
						e.preventDefault();
						navigator.app.exitApp();
					} else {
						navigator.app.backHistory();
					}
				}, false);

				try { 
					pushNotification = window.plugins.pushNotification;
					$("#app-status-ul").append('<li>registering ' + device.platform + '</li>');
					if (device.platform == 'android' || device.platform == 'Android' || device.platform == 'amazon-fireos' ) {
						pushNotification.register(successHandler, errorHandler, {"senderID":"22079168673","ecb":"onNotification"});   // required!
					} else {
							pushNotification.register(tokenHandler, errorHandler, {"badge":"true","sound":"true","alert":"true","ecb":"onNotificationAPN"});  // required!
					}
				}
				catch(err) { 
					txt="There was an error on this page.\n\n"; 
					txt+="Error description: " + err.message + "\n\n"; 
					alert(txt); 
				} 
			}
		
			// handle APNS notifications for iOS
			function onNotificationAPN(e) {
					if (e.alert) {
							 $("#app-status-ul").append('<li>push-notification: ' + e.alert + '</li>');
							 navigator.notification.alert(e.alert);
					}
							
					if (e.sound) {
							var snd = new Media(e.sound);
							snd.play();
					}
					
					if (e.badge) {
							pushNotification.setApplicationIconBadgeNumber(successHandler, e.badge);
					}
			}
			
			// handle GCM notifications for Android
			function onNotification(e) {
				$("#app-status-ul").append('<li>EVENT -> RECEIVED:' + e.event + '</li>');
					switch( e.event ){
							case 'registered':
								if ( e.regid.length > 0 ){
									$("#app-status-ul").append('<li>REGISTERED -> REGID:' + e.regid + "</li>");
									// Your GCM push server needs to know the regID before it can push to this device
									// here is where you might want to send it the regID for later use.
									console.log("este es tu regID = " + e.regid);
									//$('input[name="regId"]').val(e.regid);
									window.localStorage.setItem('regId', e.regid);
									

								}
								break;
							
							case 'message':
								// if this flag is set, this notification happened while we were in the foreground.
								// you might want to play a sound to get the user's attention, throw up a dialog, etc.
								if (e.foreground){
									$("#app-status-ul").append('<li>--INLINE NOTIFICATION--' + '</li>');
										// on Android soundname is outside the payload. 
										// On Amazon FireOS all custom attributes are contained within payload
										var soundfile = e.soundname || e.payload.sound;
										// if the notification contains a soundname, play it.
										var my_media = new Media("/android_asset/www/"+ soundfile);

										my_media.play();
								}
								else{ // otherwise we were launched because the user touched a notification in the notification tray.
									if (e.coldstart)
										$("#app-status-ul").append('<li>--COLDSTART NOTIFICATION--' + '</li>');
									else
										$("#app-status-ul").append('<li>--BACKGROUND NOTIFICATION--' + '</li>');
								}
				
								$("#app-status-ul").append('<li>MESSAGE -> MSG: ' + e.payload.message + '</li>');
									//android only
								$("#app-status-ul").append('<li>MESSAGE -> MSGCNT: ' + e.payload.msgcnt + '</li>');
									//amazon-fireos only
									$("#app-status-ul").append('<li>MESSAGE -> TIMESTAMP: ' + e.payload.timeStamp + '</li>');
								break;
							
							case 'error':
								$("#app-status-ul").append('<li>ERROR -> MSG:' + e.msg + '</li>');
								break;
							
							default:
								$("#app-status-ul").append('<li>EVENT -> Unknown, an event was received and we do not know what it is</li>');
								break;
					}
			}
			
			function tokenHandler (result) {
					$("#app-status-ul").append('<li>token: '+ result +'</li>');
					// Your iOS push server needs to know the token before it can push to this device
					// here is where you might want to send it the token for later use.
			}

			function successHandler (result) {
					$("#app-status-ul").append('<li>success:'+ result +'</li>');
			}
			
			function errorHandler (error) {
					$("#app-status-ul").append('<li>error:'+ error +'</li>');
			}
			
			document.addEventListener('deviceready', onDeviceReady, true);
		
		</script>


		<!--PUSH NOTIFICATIONS-->



		<ion-nav-bar class="bar-positive nav-title-slide-ios7">
			<ion-nav-back-button class="button-icon ion-arrow-left-c">
			</ion-nav-back-button>
		</ion-nav-bar>
						 
		<ion-nav-view animation="slide-left-right"></ion-nav-view>

		<script id="sign-in.html" type="text/ng-template">
			<ion-view title="Sign-In">
				<ion-content>
					<div class="list">
						<label class="item item-input">
							<span class="input-label">Username</span>
							<input type="text" ng-model="user.username">
						</label>
						<label class="item item-input">
							<span class="input-label">Password</span>
							<input type="password" ng-model="user.password" value ="mipass">
						</label>
					</div>
					<div class="padding">
						<button class="button button-block button-positive" ng-click="signIn(user)">
							Sign-In
						</button>
						
						<ion-checkbox  ng-model="user.forget" ng-checked="user.forget" ng-change="persist(user)">no olvidar</ion-checkbox>
						</br>
						<p class="text-center">
							<a href="#/registrarse">Registrarse</a>
						</p>
						<p class="text-center">
							<a href="#/forgot-password">Olvide contraseña</a>
						</p>

						<p class="text-center">
							<p>{{user.username}}</p>
							<p>{{user.password}}</p>
							<p>{{user.forget}}</p>
							<p>
						</p>

						</p>
					</div>
				</ion-content>  
			</ion-view>
		</script>

		<script id="registrarse.html" type="text/ng-template">
			<ion-view title="registrarse">
				<ion-content padding="true">
					<form class="list padding" name="signupform">

						<label class="item item-input item-stacked-label">

						 <span class="input-label">Alias</span>
						 <input type="text"
							ng-model="user.nombre"
							required
							placeholder="Nombre..."/>

						</label>  

						<label class="item item-input item-stacked-label">

						 <span class="input-label">Email</span>
						 <input type="email"
							ng-model="user.email"
							required
							placeholder="Email..."/>

						</label>  

						
						<label class="item item-input item-stacked-label">

						 <span class="input-label">Contraseña</span>
						 <input type="password"
							ng-model="user.password"
							ng-minlegth='4'
							required
							placeholder="Contraseña..."/>

						</label>      
						
						
						<label class="item item-input item-stacked-label">

						 <span class="input-label">Confirmar contraseña</span>
						 <input type="password"
							ng-model="user.confirmacion"
							ng-minlegth='4'
							required
							ng-enter="confirmarDuplicados(user)"
							placeholder="Confirmar contraseña..."/>

						</label>      
						
					<div>
						<button class="button button-block button-dark" data-ng-click="confirmarDuplicados(user)"> Registrarse </button>
					</div>    

				</form>
			</ion-content>
		</ion-view>
		</script>

		<script id="forgot-password.html" type="text/ng-template">
			<ion-view title="Olvide mi contraseña... otra vez!">
				<ion-content padding="true">
					<p>
						como recupear contraseña
					</p>
					
				</ion-content>
			</ion-view>
		</script>
		
		<script id="tabs.html" type="text/ng-template">
			<ion-tabs class="tabs-icon-top tabs-positive">

				<ion-tab title="Home" icon="ion-home" href="#/tab/home">
					<ion-nav-view name="home-tab"></ion-nav-view>
				</ion-tab>

				<ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
					<ion-nav-view name="about-tab"></ion-nav-view>
				</ion-tab>

				<ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in" ng-click="salir()">
				</ion-tab>

			</ion-tabs>
		</script>

		<script id="home.html" type="text/ng-template">
			<ion-view title="Home">
				<ion-content padding="true">
					<p>Example of Ionic tabs. Navigate to each tab, and
					navigate to child views of each tab and notice how
					each tab has its own navigation history.</p>
					<p>
						<a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
					</p>
				</ion-content>
			</ion-view>
		</script>

		<script id="facts.html" type="text/ng-template">
			<ion-view title="Facts">
				<ion-content padding="true">
					<p>Banging your head against a wall uses 150 calories an hour.</p>
					<p>Dogs have four toes on their hind feet, and five on their front feet.</p>
					<p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
					<p>A cockroach will live nine days without its head, before it starves to death.</p>
					<p>Polar bears are left handed.</p>
					<p>
						<a class="button icon ion-home" href="#/tab/home"> Home</a>
						<a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
					</p>
				</ion-content>
			</ion-view>
		</script> 

		<script id="facts2.html" type="text/ng-template">
			<ion-view title="Also Factual">
				<ion-content padding="true">
					<p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
					<p>1 in every 4 Americans has appeared on T.V.</p>
					<p>11% of the world is left-handed.</p>
					<p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
					<p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
					<p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and dont die throughout the movie.</p>
					<p>
						<a class="button icon ion-home" href="#/tab/home"> Home</a>
						<a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
					</p>
				</ion-content>
			</ion-view>
		</script>

		<script id="about.html" type="text/ng-template">
			<ion-view title="About">
				<ion-content padding="true">
					<h3>Create hybrid mobile apps with the web technologies you love.</h3>
					<p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
					<p>Built with Sass and optimized for AngularJS.</p>
					<p>
						<a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
					</p>
				</ion-content>
			</ion-view>
		</script>

		<script id="nav-stack.html" type="text/ng-template">
			<ion-view title="Tab Nav Stack">
				<ion-content padding="true">
					<p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
				</ion-content>
			</ion-view>
		</script>

		 <script id="modal.html" type="text/ng-template">
      <div class="modal" ng-controller="ModalCtrl">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Error</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
        </ion-header-bar>

        <ion-content>
          <div class="padding">
            <div class="list">
              <p>Ingresa tus credenciales.</p>
            </div>
          </div>
        </ion-content>
      </div>
    </script>

</html>
